<div *ngIf="hero">

  <h2>{{hero.name}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>name: </span>{{hero.name}}</div>
  <div><span>superpower: </span>{{hero.superpower}}</div>
  <div><span>age: </span>{{hero.age}}</div>
  <div><span>weakness: </span>{{hero.weakness}}</div>
  <div><span>enemy: </span>{{hero.ennemy}}</div>
  <section class="description">
    <div class="pres">
      <h2 id="t1">P</h2>
      <h2 id="t2">R</h2>
      <h2 id="t3">E</h2>
      <h2 id="t4">S</h2>
      <h2 id="t5">E</h2>
      <h2 id="t6">N</h2>
      <h2 id="t7">T</h2>
      <h2 id="t8">A</h2>
      <h2 id="t9">T</h2>
      <h2 id="t10">I</h2>
      <h2 id="t11">O</h2>
      <h2 id="t12">N</h2>
    </div>
    <div class="img-goku">
      <img src="https://i.imgur.com/MwdT9ba.png" alt="goku ultra instinct" />
    </div>
    <div class="texte1">
      <h3>Qui est-ce ?</h3>
      <p>Son Gokû (孫そん悟ご空くう, Son Gokū), est le principal protagoniste des mangas</p>
      <p> Dragon Ball et Dragon Ball Super, et des leurs adaptations animées, Dragon</p>
      <p> Ball et Dragon Ball Z / Dragon Ball Kai, puis Dragon Ball Super, ainsi que de</p>
      <p class="end"> la suite animée des deux premières séries, Dragon Ball GT.</p>

      <p>Dernier orphelin exilé de la défunte planète Vegeta, il atterrit sur Terre où il</p>
      <p> grandit avec son grand-père adoptif puis seul, après avoir tué </p>
      <p>accidentellement celui-ci. Son aventure commence le jour où il rencontre </p>
      <p class="end">Bulma, une jeune aventurière, qui l'invite à chercher les Dragon Balls...</p>

      <p>Son nom, Son Gokû (孫そん悟ご空くう, Son Gokū), est directement repris de la</p>
      <p>transcription japonaise de Sun Wukong (孫悟空, Sūn Wùkōng), le héros du </p>
      <p>roman classique de la littérature chinoise La Pérégrination vers l'Ouest (西遊</p>
      <p>記 / 西さい遊ゆう記き, Xīyóujì / Saiyūki), datant du XVI° siècle, très populaire au Japon.</p>
      <p>Akira Toriyama y garde plusieurs éléments dont le Nyoi-bô, la queue de</p>
      <p>singe, ou encore le Kinto'un. Il signifie en chinois  « Petit-fils du(des) singe(s)</p>
      <p class="end">des cieux ».</p>

      <p>Son nom Saiyan est Kakarot (カカロット, Kakarotto), un dérivé de carrot</p>
      <p>(キャロット, kyarotto), qui signifie "carotte" en anglais. Comme pour tous</p>
      <p class="end2">les autres Saiyans, il porte le nom d'un légume.</p>
    </div>
  </section>

  <button (click)="goBack()">go back</button>
  <!--<button (click)="save()">save</button>-->
</div>
