<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>name: </span>{{hero.name}}</div>
  <div><span>superpower: </span>{{hero.superpower}}</div>
  <div><span>Age: </span>{{hero.age}}</div>
  <div><span>Weakness: </span>{{hero.weakness}}</div>
  <div><span>Enemy: </span>{{hero.enemy}}</div>

  <div>
    <img src="https://images.alphacoders.com/100/1008181.jpg" alt="zoro"/>
  </div>


  <button (click)="goBack()">go back</button>
  <!--<button (click)="save()">save</button>-->
</div>
