<div *ngIf="hero" class="hero-container">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><strong>id: </strong>{{hero.id}}</div>
    <div><strong>name: </strong>{{hero.name}}</div>
    <div><strong>age: </strong>{{hero.age}}</div>
    <div><strong>superpower: </strong>{{hero.superpower}}</div>
    <div><strong>weakness: </strong>{{hero.weakness}}</div>
    <div><strong>enemy: </strong>{{hero.enemy}}</div>
    <div>
        <img src="https://cdn.pixabay.com/photo/2020/07/06/17/51/batman-5377804_640.png" alt="batman"/>
    </div>

    <button (click)="goBack()">go back</button>
    <!--<button (click)="save()">save</button>-->
</div>
