<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div class="main">
    <div class="part1">
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>Name: </span>{{hero.name}}</div>
  <div><span>Superpower: </span>{{hero.superpower}}</div>
  <div><span>Age: </span>{{hero.age}}</div>
  <div><span>Weakness: </span>{{hero.weakness}}</div>
  <div><span>Enemy: </span>{{hero.ennemy}}</div>
</div>
<div class="part2">
  <div>
     <img src="https://swebtoon-phinf.pstatic.net/20210612_298/1623447598834mhoa1_JPEG/0VillaintoKillLaunch_mobile_landingpage.jpg?type=crop540_540" alt="cassian"/>
  </div>
</div>
  </div>


  <button (click)="goBack()">go back</button>
  <!--<button (click)="save()">save</button>-->
</div>
