<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>name: </span>{{hero.name}}</div>
  <div><span>superpower: </span>{{hero.superpower}}</div>
  <div><span>age: </span>{{hero.age}}</div>
  <div><span>weakness: </span>{{hero.weakness}}</div>
  <div><span>ennemy: </span>{{hero.ennemy}}</div>
  <div>
     <img src="https://www.telez.fr/content/uploads/2018/02/thor.jpg" alt="Thor"/>
  </div>


  <button (click)="goBack()">go back</button>
  <!--<button (click)="save()">save</button>-->
</div>
